:root {
  --page-background: #111;
  --text-color: #ddd;
  --button-color: rgb(117, 73, 145);
  --modal-color: rgb(219, 189, 238);
  --alt-text-color: black;
}
* {
  color: var(--text-color);
  background-color: var(--page-background);
  font-family: sans-serif;
  font-size: large;
}
.cont {
  display: grid;
  grid-template-columns: 2em auto;
  width: 100%;
  max-width: 36em;
}
button {
  width: 12em;
  background-color: var(--button-color);
}
button:hover {
  filter: brightness(.75);
}
input[type='text'] {
  width: 100%;
  max-width: 36em;
  padding: .25em;
  margin-top: .5em;
}
form.guesser {
  position: sticky;
  top: 0em;
}
form.switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form.switch button {
  width: max-content;
}
p {
  margin: .25em;
}
.win {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2em;
}
.win, .win * {
  background-color: var(--modal-color);
  color: var(--alt-text-color);
}
.win a {
  color: blue;
}
button[disabled] {
  filter: brightness(.5) saturate(.5);
}

@keyframes wiggle {
  0% { transform: translateX(-.125em);}
  20% { transform: translateX(.5em);}
  40% { transform: translateX(-.5em);}
  60% { transform: translateX(.5em);}
  80% { transform: translateX(-.125em);}
}
.wrong {
  display: inline-block;
  animation: wiggle 0.25s;
  color: rgba(255, 89, 89, 0.852);
}